<html>
<body style="background-color:powderblue;">

<h1>Quarks</h1>

<p>
With the advent of new decade, as hardware gets modern (like Flash disk instead of magnetic ones), the concept of database and web-services needs to be modernised as well.

So, what's the problem with traditional database systems? </p><p>

Relational Database representation compared to client side (usually Object Oriented) representation are completely different. To overcome this No-SQL was introduced like mongo, couchdb etc were introduced.

However, even then they were developed keeping in mind the magnetic disks and were not tuned for optimal usage for new hard disk systems like flash disks. One such optimised store for new era hardware is rocksdb, which had the benefit of being developed later. Similarly we need to come up with new concepts which makes both server and client side development easy as far as data management and services are concerned.

</p><p>


In comes the concept of Quarks (the name originally given by one of my esteemed colleagues Dr. Russel Ahmed Apu). Quarks plan to provide a uniform structure to address architectural problems, a proposed step in the right direction to modern software development. As micro-services concept gain popularity, there needs to be a mindset and attitude change towards server side programming.

Having a separate heavy-weight stand alone db will not be a feasible solution in the upcoming decades, hence Quarks concepts can be considered a paradigm shifting solution towards how services are written.

</p><p>


Quarks serves as a small lightweight easily distributable service which eliminates the need of writing a lot of apis or creating data models in server, having to link them to a separate stand alone dB.

At the heart of quarks is the concept of simplicity. Programming in modern era should be simple - the program shouldn't have to worry about traffic management, threads, scaling and distributing of the system when the need arises.

</p><p>


For scaling - simply replicate the servers and put a standard load balancer like nginx in front to distribute api calls. The Quarks services will communicate with each other and interchange data if needed.

</p><p>


Why it’s named Quarks is because quarks services act like small particles (read light weight micro-services) and create a large system eventually!
Getting it up and running is as easy as dropping an exe file in hosting-server and run it.
</p>

<a href = "https://dev.to/lucpattyn/quarks-a-new-approach-with-a-new-mindset-to-programming-10lk">Read more .. </a>

</body>
<html>